/*
 * Reset
 */

* {
    margin: 0px;
    padding : 0px;

    font-size: 1em;
    line-height: 1.5em;
    font-family: Oswald, Helvetica, Tahoma, Geneva, sans-serif;

    box-sizing: border-box; /* width = taille totale avec border, padding */

    /* Déclaration des couleurs */
    --ColorTitle:              #393A3A;
    --ColorNav:                #F9EBD9;
    --ColorLink:               #393A3A;
    --ColorHr:                 black;
    --ColorWelcome:            #F7EBD8;
    --ColorContact:            #F6EDD8;

    --ColorLinkHover:          #FFFFFF;

    --ShadowNav:               #68A0A0;
    --ShadowTitle:             white;
    --ShadowBillet:            #B3AFA3;

    --BorderPhoto:             white;

    --Valid:                   #06ff06;
    --Invalid:                 #fba0a0;
    --Required:                #26e8ff;

    --BackgroundNav:           #78BBBB;
    --BackgroundHome:          #78BBBB;
    --BackgroundAbout:         #E2DDCD;
    --BackgroundPortfolio:     #E08866;
    --BackgroundPhoto:         #E3DFD7;
    --BackgroundBlog:          #DDD8C9;
    --BackgroundContact:       #4E5259;
    --BackgroundForm:          #FFFFFF;

    --BackgroundLinkHover:     #000000;
}

/*
 * Polices
 */
@font-face {
    font-family: Bazar;
    src: url('../fonts/Bazar.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: RobotoSlab;
    src: url('../fonts/Roboto Slab/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family: RobotoSlab;
    src: url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf');
    font-weight: bold;
}

/*
 * Communs
 */
html, body, body > header, main > section {
    min-width: 800px;
    width: 100%;
}
html, body, main > section {
    min-height: 600px;
    height: 100%;
}
header, main, section, footer {
    margin-right: auto;
    margin-left: auto;
}
section, p {
    text-align: center;
}
h1, h2, h3, h4 {
    text-align: center;
}
hr {
    width: 100px;
    border: 1px solid var(--ColorHr);

    margin-right: auto;
    margin-left: auto;

    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: var(--ColorLink);
    text-decoration: none;
}
a:not([class~="default"]) {
    border-bottom: 1px solid var(--ColorLink);
}
a.active {
    padding: 5px;
    border: 1px dashed var(--ColorNav);
    border-radius: 5px;
}
/* -- Formulaires --*/
input, textarea {
    font-size: 1em;
}
/* ---- Champs de formulaire input (in)valides grâce aux patterns ou type spécifique, ou requis ---- */
input:not(:optional):valid:not([type="submit"]), input:optional:focus:valid:not([type="submit"]) {
    border: 1px solid var(--Valid);
}
input:invalid:not([required]), input:invalid:not(:required) {
    border: 1px solid var(--Invalid);
}
[required], :required {
    border: 1px solid var(--Required);
}

/*
 * Entités de la page *
 */

/* -- Header -- */
body > header {
    position: relative;
    z-index: 1000;

    box-shadow: 0 5px 15px var(--ShadowNav);
}

body > header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
body > header.fixed * {
    max-height: 50px;
}
body > header.fixed > nav > ul > li img {
    width: 60px;
    max-height: 60px;
    margin-top: 0;
}

nav {
    font-size: 2em;
    background-color: var(--BackgroundNav);
}
nav * {
    font-family: Bazar, Helvetica, sans-serif;
    color: var(--ColorNav);
}
nav ul {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-transform: uppercase;
}
nav ul li a:hover{
    color: var(--ColorLink);
}
nav ul li img {
    width: 150px;
    margin-top: 50px;

    transition: transform 3s ease;
    -ms-transition: transform 3s ease;
    -webkit-transition: transform 3s ease;
}
nav ul li img:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*-- Main */
main > section {
    padding-top: 20px;
    padding-bottom: 60px;
}
h2 {
    position: relative;

    color: var(--ColorTitle);

    font-family: Bazar, Helvetica, sans-serif;
    font-size: 6em;

    text-transform: uppercase;
    text-shadow: 1px 2px 0 var(--ShadowTitle), 2px 4px 0 var(--ColorTitle);

    margin-bottom: 10px;
}
h2:after {
    content: '––– ××× –––';

    position: absolute;
    left: 0;
    right: 0;
    bottom: -3em;

    font-family: Oswald;
    font-size: 0.25em;

    letter-spacing: -2px;
    word-spacing: 10px;

    text-shadow: none;
}
section.main_section {
    max-width: 1200px;
}
main section > header {
    margin-bottom: 40px;
}

/*
 * Sections de la page *
 */

/* -- Home -- */
#home {
    background-color: var(--BackgroundHome);
}

#home > .main_section figure {
    max-width: 100%;
    margin: 0px auto 40px auto;

    border-radius: 5px;
    border: 10px solid var(--BorderPhoto);
    box-shadow: 1px 1px 5px var(--ShadowBillet);

    background-color: var(--BorderPhoto);
}
#home > .main_section figure img {
    max-width: 100%;
}
#home > .main_section figure figcaption {
    font-size: 1.5em;
    font-family: Bazar, Helvetica, sans-serif;

    text-align: center;
    text-transform: uppercase;
}

#home > .main_section > p:last-child {
    color: var(--ColorWelcome);

    font-size: 2em;
    text-transform: uppercase;
    font-family: Bazar, Helvetica, sans-serif;
}

/* -- About -- */
#about {
    background-color: var(--BackgroundAbout);
}
#about .main_section {
    display: flex;
}
#about .main_section .soussection {
    max-width: 20%;
}
#about .main_section .soussection img {
    width: 152px;
}
#about .main_section .soussection h3, #about .main_section .soussection h4 {
    text-transform: uppercase;
}
#about .main_section .soussection h4 {
    position: relative;
    margin-bottom: 30px;

    font-weight: normal;
}
#about .main_section .soussection h4:after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    bottom: -1em;

    width: 20%;
    margin: 0 auto;

    border: 1px solid var(--ColorHr);
}
#about .main_section .soussection p {
    text-align: left;
}

/* -- Portfolio -- */
#portfolio {
    background-color: var(--BackgroundPortfolio);
}
#portfolio .main_section > div:first-child {
    display: flex;
}

/* --- Filtres --- */
#portfolio #filtres p {
    margin: 0 20px 0 0;
}
#portfolio #filtres ul {
    display: flex;
    flex-direction: row;

    color: var(--BackgroundPhoto);
    list-style-position: inside;
}
#portfolio #filtres ul li {
    margin: 0 15px 0 15px;
    padding: 5px;

    background-color: var(--BorderPhoto);
    border-radius: 5px;

    position: relative;
}
#portfolio #filtres > ul > li:hover, #portfolio #filtres > ul > li:hover > a {
    color: var(--ColorLinkHover);
    background-color: var(--BackgroundLinkHover);
}
#portfolio #filtres > ul > li:hover > span {
    border-right-color: var(--BackgroundLinkHover);
}
#portfolio #filtres > ul > li > span {
    width: 0;
    height: 0;

    border-top:         15px solid transparent;
    border-bottom:      15px solid transparent;
    border-right:       15px solid var(--BorderPhoto);

    position: absolute;
    top: 2px;
    left: -14px;
}
#portfolio #filtres > ul > li > a {
    color: initial;
    border: none;
}

/* --- Galerie --- */
#portfolio .main_section section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#portfolio .main_section section > div {
    padding: 5px;
    width: 250px;
    height: 250px;

    margin-top: 20px;

    background-color: var(--BorderPhoto);

    border: solid 2px var(--BorderPhoto);
    border-radius: 5px;

    box-shadow: 1px 1px 5px var(--ShadowBillet);
}

#portfolio .main_section section > div > img {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 70%;

    background-color: var(--BackgroundPhoto);
}
#portfolio .main_section section > div > div {
    position: relative;
    top: -20px;
    left: 0;
    right: 0;

    z-index: 100;

    margin: 0 auto;
    margin-bottom: 0px;

    width: 60px;

    background-color: var(--BorderPhoto);

    border-top: 1px solid var(--BorderPhoto);
    border-radius: 50px 50px 0 0;
}
#portfolio .main_section section > div > div > img {
    max-width: 30px;
    margin-top: 10px;
}
#portfolio .main_section section > div > p {
    text-transform: uppercase;
}

/* --- Voir tout --- */
#portfolio .main_section > p:last-child {
    position: relative;
    margin-top: 30px;

    font-weight: bold;
    text-transform: uppercase;
}
#portfolio .main_section > p:last-child a {
    color: initial;
}
#portfolio .main_section > p:last-child:before {
    content: '';

    width: 3%;
    min-width: 40px;
    margin: 0 auto;

    border:1px solid var(--ColorHr);

    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
}

/* -- Blog -- */
#blog {
    background-color: var(--BackgroundBlog);
}
#blog article {
    display: flex;
    align-items: flex-start;

    margin-bottom: 30px;
}

#blog article * {
    font-family: RobotoSlab, Times, serif;
    text-align: left;
}

#blog article > div:first-child {
    width: 400px;
    max-height: 200px;
}
#blog article > div:first-child > img {
    width: 100%;
}
#blog article > div:first-child {
    margin-right: 30px;

    border: 4px solid var(--BorderPhoto);
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--ShadowBillet);

    background-color: var(--BackgroundPhoto);
}

#blog article > div:last-child {
    width: 100%;
}
#blog article > div:last-child > h1 {
    font-size: 1.2em;
}
#blog article > div:last-child > div {
    font-size: 0.9em;
    text-transform: uppercase;

    position: relative;

    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}
#blog article > div:last-child > div:before {
    content: '';

    position: absolute;
    bottom: -0.8em;

    width: 5%;
    min-width: 50px;

    border: 1px solid var(--ColorHr);
}
#blog article > div:last-child > div * {
    font-family: Oswald, sans-serif;
}

#blog article > div:last-child > p {
    font-family: RobotoSlab, sans-serif;
}
#blog article > div:last-child > p:last-child > a:last-child {
    font-family: initial;
    font-weight: bold;

    border: none;
}
#blog article > div:last-child > p:last-child > a:last-child:before {
    content: ' (';
}
#blog article > div:last-child > p:last-child > a:last-child:after {
    content: '…)';
}

#blog > .main_section > p:last-child {
    font-weight: bold;
    text-transform: uppercase;
}

/* -- Contact --*/
#contact, section#contact h2 {
    background-color: var(--BackgroundContact);
    color: var(--ColorContact);
}
#contact h2 {
    text-shadow: 1px 1px 0 var(--BackgroundContact), 2px 2px 0 var(--ColorContact);
}

#contact .main_section {
    display: flex;
    justify-content: center;
}
#contact form {
    width: 40%;

    font-family: RobotoSlab;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact form * {
    width: 100%;
    margin: 0 0 0.5em 0;
}
#contact form label span {
    display: none;
}
#contact form input, #contact form label textarea {
    border-radius: 5px;
    padding: 5px;
}
#contact form label textarea {
    height: 200px;
}
#contact form input[type="submit"] {
    width: -moz-fit-content;
    width: fit-content;

    text-transform: uppercase;

    align-self: flex-start;

    background-color: var(--BackgroundForm);
}

#contact footer {
    margin-top: 40px;
}
#contact footer h3 {
    position: relative;
    margin-bottom: 20px;

    font-size: 1.5em;
    font-weight: normal;
    font-family: Bazar;
    text-transform: uppercase;
}
#contact footer h3:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2em;

    width: 50px;
    margin: 0 auto;

    border: 1px solid var(--ColorContact);
}
#contact footer ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
}
#contact footer ul li {
    transition: transform 3s ease-out;
    -ms-transition: transform 3s ease-out;
    -webkit-transition: transform 3s ease-out;
}
#contact footer ul li:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
#contact footer ul li, #contact footer ul li a {
    width: 128px;
    height: 128px;
}
#contact footer ul li:first-child {
    background-image: url("../img/RS-small.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}
#contact footer ul li:nth-child(2) {
    background-image: url("../img/RS-small.png");
    background-repeat: no-repeat;
    background-position: -128px center;
}
#contact footer ul li a {
    display: inline-block;
    border: none;
    border-radius: 100%;
}
#contact footer ul li a span {
    visibility: hidden;
}

/*

/*
 * Media Queries *
 */
